---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import { LOCALE, SITE } from "@config";
import { getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url);

LOCALE.lang = locale;

const posts = await getCollection(
  "blog",
  ({ data }) => data?.lang === LOCALE.lang
);

let tags = getUniqueTags(posts);

let tittxt = "Tags" as string;
let desctxt = "All the tags used in posts." as string;
switch (LOCALE.lang) {
  case "es":
    tittxt = "Etiquetas";
    desctxt = "Todas las etiquetas utilizadas en las publicaciones.";
    break;
  case "ca":
    tittxt = "Etiquetes";
    desctxt = "Totes les etiquetes utilitzades a les publicacions.";
    break;
}
---

<Layout title={`${tittxt} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main pageTitle={tittxt} pageDesc={desctxt}>
    <ul>
      {tags.map(({ tag }) => <Tag {tag} size="lg" lang={locale} />)}
    </ul>
  </Main>
  <Footer />
</Layout>
