---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { LOCALE, SITE, SOCIALS } from "@config";
import { getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url);

LOCALE.lang = locale;

const posts = await getCollection("blog",({ data }: { data: any }) => data?.lang === locale);

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;

let featuredtxt: string;
let recentposttxt: string;
let allpoststxt: string;
switch (LOCALE.lang) {
  case "ca":
    featuredtxt = "Destacat";
    recentposttxt = "Publicacions recents";
    allpoststxt = "Totes les publicacions";
    break;
  case "es":
    featuredtxt = "Destacado";
    recentposttxt = "Publicaciones recientes";
    allpoststxt = "Todas las publicaciones";
    break;
  default:
    featuredtxt = "Featured";
    recentposttxt = "Recent Posts";
    allpoststxt = "All Posts";
}
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Lenam Blog</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
        <span class="sr-only">RSS Feed</span>
      </a>
      {
        LOCALE.lang === "en" && (
          <>
            <p>
              Hello, welcome to Lenam's personal blog. Here you will find
              information about CTFs, hacking, programming, artificial
              intelligence, and technology in general.
            </p>
            <p>
              I hope you find this information helpful, just as the information
              others selflessly shared on the internet was helpful to me at the
              time.
            </p>
            <h2>Important Notice</h2>
            <p>
              The content presented on this website is intended solely for
              educational purposes, learning, and practice in pentesting and
              capture the flag (CTF) competitions. I am not responsible for the
              misuse of the information shared here.
            </p>
            <p>
              Read the blog posts or check
              <LinkButton
                className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
                href="/about/"
              >
                About
              </LinkButton>{" "}
              for more info.
            </p>
          </>
        )
      }
      {
        LOCALE.lang === "es" && (
          <>
            <p>
              Hola, bienvenido al blog personal de Lenam. Aquí encontrarás
              información sobre CTFs, hacking, programación, inteligencia
              artificial y tecnología en general.
            </p>
            <p>
              Espero que encuentres útil esta información, tal como la
              información que otros compartieron desinteresadamente en internet
              fue útil para mí en su momento.
            </p>
            <h2>Aviso Importante</h2>
            <p>
              El contenido presentado en este sitio web está destinado
              únicamente a fines educativos, de aprendizaje y práctica en
              competencias de pentesting y captura la bandera (CTF). No me 
              hago responsable del uso indebido de la información aquí
              compartida.
            </p>
            <p>
              Lee las publicaciones del blog o consulta
              <LinkButton
                className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
                href={`/${LOCALE.lang}/about/`}
              >
                Acerca 
              </LinkButton>{" "}
              para más información.
            </p>
          </>
        )
      }
      {
        LOCALE.lang === "ca" && (
          <>
            <p>
              Hola, benvingut al blog personal de Lenam. Aquí trobaràs
              informació sobre CTFs, hacking, programació, intel·ligència
              artificial i tecnologia en general.
            </p>
            <p>
              Espero que trobis útil aquesta informació, tal com la informació
              que altres van compartir desinteressadament a internet em va ser
              útil a mi en el seu moment.
            </p>
            <h2>Avís Important</h2>
            <p>
              El contingut presentat en aquest lloc web està destinat únicament
              a fins educatius, d'aprenentatge i pràctica en competicions de
              pentesting i captura la bandera (CTF). No em faig responsable de l'ús
              indegut de la informació aquí compartida.
            </p>
            <p>
              Llegeix les publicacions del blog o consulta
              <LinkButton
                className="underline decoration-dashed underline-offset-4 hover:text-skin-accent"
                href={`/${LOCALE.lang}/about/`}
              >
                Sobre
              </LinkButton>{" "}
              per a més informació.
            </p>
          </>
        )
      }

      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>{featuredtxt}</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={`${data.lang !== 'en' ? `/${data.lang}` : ''}/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={true}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>{recentposttxt}</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < SITE.postPerIndex && (
                  <Card
                    href={`${data.lang !== 'en' ? `/${data.lang}` : ''}/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href={`${locale !== 'en' ? `/${locale}` : ''}/posts/`}>
        {allpoststxt}
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
