---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { getPostSlug } from "@utils/postUtils";
import { LOCALE, SITE } from "@config";
import { getLocale } from "astro-i18n-aut";

const locale = getLocale(Astro.url);
LOCALE.lang = locale;

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<"blog">[];
}

let tittxt = "Posts" as string;
let desctxt = "All the articles I've posted." as string;
switch (LOCALE.lang) {
  case "es":
    tittxt = "Publicaciones";
    desctxt = "Todos los artículos que he publicado.";
    break;
  case "ca":
    tittxt = "Publicacions";
    desctxt = "Tots els articles que he publicat.";
    break;
}

const { currentPage, totalPages, paginatedPosts } = Astro.props;
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main pageTitle={tittxt} pageDesc={desctxt}>
    <ul>
      {
        paginatedPosts.map((post) => (
          <Card href={`${LOCALE.lang !== 'en' ? `/${LOCALE.lang}` : ''}/posts/${getPostSlug(post)}/`} frontmatter={post.data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`${LOCALE.lang !== 'en' ? `/${LOCALE.lang}` : ''}/posts${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`${LOCALE.lang !== 'en' ? `/${LOCALE.lang}` : ''}/posts/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
